.form-inline{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
}

.form-inline button{
    margin-left: 10px;
}

#user{
    margin-right: 5px;
}

.form-control{
    height: 30px;
    margin-top: 5px;
}

.dropdown{
    text-decoration: none;
}
a:link { text-decoration: none; }