
<ng-container >
    <button (click)="Get404Error()">404_ERROR</button>
    <button (click)="Get401Error()">401_ERROR</button>
    <button (click)="Get400Error()">400_ERROR</button>
    <button (click)="Get500Error()">500_ERROR</button>
    <button (click)="Get404ValidationError()">404_Vlidation_ERROR</button>

    <!-- <div class="row-mt-5" *ngIf="validationerror.length>0">.........bugg validation errors not showing
        <ul class="danger-tex">
            <li *ngFor="let error of validationerror">
                {{error}}
            </li>
        </ul>
    </div> -->
</ng-container>